<button
  type="button"
  mat-icon-button
  (click)="subtractQuantity()"
  [disabled]="value() <= minValue()"
>
  <mat-icon> {{ subtractIcon() }} </mat-icon>
</button>
<section>
  @if (editable()) {
    <mat-form-field subscriptSizing="dynamic">
      <input
        class="no-spinners"
        type="number"
        matInput
        [valueAsNumber]="value()"
        (input)="onInput($event)"
        (focus)="touched.set(true)"
      />
    </mat-form-field>
  } @else {
    <div class="value">
      {{ value() }}
    </div>
  }
</section>

<button type="button" mat-icon-button (click)="addQuantity()" [disabled]="value() >= maxValue()">
  <mat-icon>add</mat-icon>
</button>
